<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id = "navbar"><%= link_to "Click to start your coaching session", ask_path %></p>
    <%= yield %>
    <br>
    <p id = "footer">© Le Wagon Batch 560 2021 - All rigths reserved</p>
  </body>
</html>
